USE [master]
GO
/****** Object:  Database [CWD_Breeding_DEV]    Script Date: 10/10/2022 8:08:59 PM ******/
CREATE DATABASE [CWD_Breeding_DEV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DeerPedigree', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DeerPedigree.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DeerPedigree_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DeerPedigree_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CWD_Breeding_DEV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CWD_Breeding_DEV]
GO
/****** Object:  Table [dbo].[ChangePasswords]    Script Date: 10/10/2022 8:08:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangePasswords](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[RanchId] [uniqueidentifier] NULL,
	[ExpirationDate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_ChangePasswords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deer]    Script Date: 10/10/2022 8:08:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deer](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[NADR] [varchar](50) NOT NULL,
	[DOB] [datetime2](7) NULL,
	[Age] [decimal](3, 1) NULL,
	[GEBU] [decimal](18, 3) NOT NULL,
	[Codon] [varchar](50) NOT NULL,
	[SciScore] [decimal](18, 3) NULL,
	[IsApproved] [bit] NOT NULL,
	[SemenAvailable] [bit] NOT NULL,
	[SemenCost] [varchar](50) NULL,
	[RanchId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[ProfileImage] [varchar](50) NULL,
	[VideoLink] [varchar](100) NULL,
 CONSTRAINT [PK_Deer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevelOneRelationships]    Script Date: 10/10/2022 8:08:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevelOneRelationships](
	[Id] [uniqueidentifier] NOT NULL,
	[DeerId] [uniqueidentifier] NOT NULL,
	[Dam] [varchar](50) NULL,
	[Sire] [varchar](50) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LevelOneRelationships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevelThreeRelationships]    Script Date: 10/10/2022 8:08:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevelThreeRelationships](
	[Id] [uniqueidentifier] NOT NULL,
	[DeerId] [uniqueidentifier] NOT NULL,
	[DamA] [varchar](50) NULL,
	[DamB] [varchar](50) NULL,
	[DamC] [varchar](50) NULL,
	[DamD] [varchar](50) NULL,
	[SireA] [varchar](50) NULL,
	[SireB] [varchar](50) NULL,
	[SireC] [varchar](50) NULL,
	[SireD] [varchar](50) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LevelThreeRelationships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevelTwoRelationships]    Script Date: 10/10/2022 8:08:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevelTwoRelationships](
	[Id] [uniqueidentifier] NOT NULL,
	[DeerId] [uniqueidentifier] NOT NULL,
	[DamA] [varchar](50) NULL,
	[DamB] [varchar](50) NULL,
	[SireA] [varchar](50) NULL,
	[SireB] [varchar](50) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LevelTwoRelationships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginData]    Script Date: 10/10/2022 8:08:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginData](
	[Id] [uniqueidentifier] NOT NULL,
	[Password] [varchar](100) NULL,
	[Salt] [varchar](50) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[LastLoginDate] [datetime2](7) NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK__LoginDat__3214EC07C0BEAEAB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 10/10/2022 8:08:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[Id] [uniqueidentifier] NOT NULL,
	[DeerId] [uniqueidentifier] NOT NULL,
	[BlobId] [varchar](50) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranch]    Script Date: 10/10/2022 8:08:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranch](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zipcode] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[LoginDataId] [uniqueidentifier] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[OwnerFirstName] [varchar](50) NOT NULL,
	[OwnerLastName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ranch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/10/2022 8:08:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[LoginDataId] [uniqueidentifier] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK__ServiceP__3214EC07340C2C3B] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChangePasswords]  WITH CHECK ADD  CONSTRAINT [FK_ChangePasswords_Ranch] FOREIGN KEY([RanchId])
REFERENCES [dbo].[Ranch] ([Id])
GO
ALTER TABLE [dbo].[ChangePasswords] CHECK CONSTRAINT [FK_ChangePasswords_Ranch]
GO
ALTER TABLE [dbo].[ChangePasswords]  WITH CHECK ADD  CONSTRAINT [FK_ChangePasswords_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ChangePasswords] CHECK CONSTRAINT [FK_ChangePasswords_Users]
GO
ALTER TABLE [dbo].[LevelOneRelationships]  WITH CHECK ADD  CONSTRAINT [FK_LevelOneRelationships_Deer] FOREIGN KEY([DeerId])
REFERENCES [dbo].[Deer] ([Id])
GO
ALTER TABLE [dbo].[LevelOneRelationships] CHECK CONSTRAINT [FK_LevelOneRelationships_Deer]
GO
ALTER TABLE [dbo].[LevelThreeRelationships]  WITH CHECK ADD  CONSTRAINT [FK_LevelThreeRelationships_Deer] FOREIGN KEY([DeerId])
REFERENCES [dbo].[Deer] ([Id])
GO
ALTER TABLE [dbo].[LevelThreeRelationships] CHECK CONSTRAINT [FK_LevelThreeRelationships_Deer]
GO
ALTER TABLE [dbo].[LevelTwoRelationships]  WITH CHECK ADD  CONSTRAINT [FK_LevelTwoRelationships_Deer] FOREIGN KEY([DeerId])
REFERENCES [dbo].[Deer] ([Id])
GO
ALTER TABLE [dbo].[LevelTwoRelationships] CHECK CONSTRAINT [FK_LevelTwoRelationships_Deer]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_Deer] FOREIGN KEY([DeerId])
REFERENCES [dbo].[Deer] ([Id])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_Deer]
GO
ALTER TABLE [dbo].[Ranch]  WITH CHECK ADD  CONSTRAINT [FK_Ranch_LoginData] FOREIGN KEY([LoginDataId])
REFERENCES [dbo].[LoginData] ([Id])
GO
ALTER TABLE [dbo].[Ranch] CHECK CONSTRAINT [FK_Ranch_LoginData]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_LoginData] FOREIGN KEY([LoginDataId])
REFERENCES [dbo].[LoginData] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_LoginData]
GO
USE [master]
GO
