<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0ff097ab-d4f1-40c3-afff-6f6b4d381089/resourceGroups/deerwizard64_rg_7646/providers/Microsoft.Web/sites/cwdBreedingAPIQA</ResourceId>
    <ResourceGroup>deerwizard64_rg_7646</ResourceGroup>
    <ApiResourceId>/subscriptions/0ff097ab-d4f1-40c3-afff-6f6b4d381089/resourceGroups/deerwizard64_rg_7646/providers/Microsoft.ApiManagement/service/CWDBreedingAPIapi/apis/CWDBreedingAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cwdbreedingapiqa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>df508e2e-e6f7-4197-b33c-244f7a4cf318</ProjectGuid>
    <MSDeployServiceURL>cwdbreedingapiqa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cwdBreedingAPIQA</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$cwdBreedingAPIQA</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>